#main_container {
	padding-left: 20px;
	padding-right: 20px;
}
#row_main {
	margin-left: -25px;
	margin-right: 0px;
}
#search_bar {
	max-width: 500px;
	margin-left: 15px;
	margin-bottom: 20px;
}
#search_panel {
	height: 100%;
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
	padding-top: 15px;
	padding-bottom: 15px;
}
#googlemap {
	padding-right: 0px;
}
.ng-pageslide {
	background-color: #fff;
	opacity: 0.9;
}
#right-sliding-panel {
	height: 100%;
	padding: 0px;
}
#btn_hide {
	font-size: 18px;
	margin-left: 5px;
}
#btn_open {
	font-size: 18px;
	margin-right: 10px;
}
#btn_order {
	margin-left: 10px;
	margin-right: 10px;
}
#searching_results_panel {
	margin-top: 0px;
	overflow-x: visible;
	overflow-y: auto;
}
.market_detail_row {
	margin-left: 0px;
}
.market_detail_ima {
	margin-left: 0px;
	margin-right: 10px;
}
.market_detail_rating {
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 10px;
}
.market_detail_title {
	font-size: 18px;
}
.market_detail_price {
	font-size: 24px;
	margin: 0 0 0px;
	color: orangered;
}
.market_detail_description {
	margin: 0 0 5px;
}
.market_detail_tel {
	margin-left: 10px;
	font-weight: bold;
}
.searching_result_statistics {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 0px;
}
.searching_result_item {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	display: flex;
}
.searching_result_img_container {
	display: flex;
}
.searching_result_img {
	min-width: 100px;
	min-height: 100px;
	padding: 10px;
}
.searching_result_description {
	margin: 0px;
}
.searching_result_price {
	color: orangered;
	margin: 0px;
}
.searching_result_special {
	font-size: xx-small;
	margin: 0px;
}
.searching_result_rating {
	margin-left: 5px;
}
.searching_result_loadmore {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	display: table;
}
.angular-google-map-container {
	height: 100%;
}

#chatting_panel {
	overflow-y: scroll;
}