<div id="btn_open" class="pull-right" ng-click="rightSlidingIsOpen=true">
  <span class="glyphicon glyphicon-circle-arrow-left"></span>
</div>
<div id="main_container" class="container-fluid" ng-click="rightSlidingIsOpen=false">
	<div id="row_main" class="row">
		<div id="search_panel" class="col-xs-3">
			<form class="form-horizontal" role="form">
				<div class="input-group">
				      <input type="text" class="form-control" ng-model="query.keyword">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="submit" ng-click="searchByKeyword()">Search</button>
				      </span>
				    </div><!-- /input-group -->
				<div class="checkbox">
					<label>
						<input type="checkbox"> Check me out
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox"> Check me out
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox"> Check me out
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox"> Check me out
					</label>
				</div>
			</form>
		</div>
		<ui-gmap-google-map id="googlemap" class="col-xs-9"
						 center="map.center"
		         zoom="map.zoom"
		         dragging="map.dragging"
		         bounds="map.bounds"
		         events="map.events"
		         options="map.options"
		         pan="true"
		         control="map.control">
			<ui-gmap-markers models="map.hotels" coords="'self'" icon="'icon'" fit='map.fit' doCluster="map.doClusterRandomMarkers" clusterOptions="map.clusterOptions" clusterEvents="map.clusterEvents" click="'showWindow=!showWindow'">
				<ui-gmap-windows show="showWindow">
          <div>
						<div class="pull-left">
							<div class="row market_detail_ima">
								<a ng-non-bindable href="{{hotel[0].hotelBasicInfo.hotelInformationUrl}}" target="_blank"><img src="{{hotel[0].hotelBasicInfo.hotelThumbnailUrl}}"/></a>
							</div>
							<div class="row market_detail_rating">
								<span ng-non-bindable>{{visualRating}}</span>
							</div>
							
						</div>
						
						<div class="row market_detail_row">
							<a ng-non-bindable class="market_detail_title" href="{{hotel[0].hotelBasicInfo.hotelInformationUrl}}" target="_blank">{{hotel[0].hotelBasicInfo.hotelName}}</a>
							<p ng-non-bindable class="market_detail_price"><span>{{hotel[0].hotelBasicInfo.hotelMinCharge}}円</span></p>
							<p ng-non-bindable class="market_detail_description"><span>{{hotel[0].hotelBasicInfo.hotelSpecial}}</span><span class="market_detail_tel">Tel: {{hotel[0].hotelBasicInfo.telephoneNo}}</span></p>
							<p ng-non-bindable class="market_detail_description"><span>{{hotel[0].hotelBasicInfo.access}}</span></p>
							<p ng-non-bindable class="market_detail_description"><span>{{hotel[0].hotelBasicInfo.userReview}}</span></p>
						</div>
          </div>
        </ui-gmap-windows>
			</ui-gmap-markers>
		</ui-gmap-google-map>
	</div>
</div>
<pageslide ps-size="400px" ps-open="rightSlidingIsOpen">
    <div id="right-sliding-panel">
			<div id="searching_results_panel">
				<div class="searching_result_statistics">
					<p>Total result: {{map.hotels.length}}</p>
				</div>
				<div class="row searching_result_item" ng-repeat="hotel in map.hotels">
					<div class="col-xs-3 searching_result_img_container">
						<a ng-href="{{hotel.hotel[0].hotelBasicInfo.hotelInformationUrl}}" target="_blank"><img class="searching_result_img" src="{{hotel.hotel[0].hotelBasicInfo.hotelThumbnailUrl}}"/></a>
					</div>
					<div class="col-xs-9">
						<div class="row searching_result_description">
							<a ng-href="{{hotel.hotel[0].hotelBasicInfo.hotelInformationUrl}}" target="_blank">{{hotel.hotel[0].hotelBasicInfo.hotelName}}</a>
							<p class="searching_result_price" ng-show="{{hotel.hotel[0].hotelBasicInfo.hotelMinCharge}}">{{hotel.hotel[0].hotelBasicInfo.hotelMinCharge}}円</p>
							<p class="searching_result_special">{{hotel.hotel[0].hotelBasicInfo.hotelSpecial}}</p>
						</div>
						<div class="row searching_result_description">
							<div class="fb-like" layout="button_count" href="{{hotel.hotel[0].hotelBasicInfo.hotelInformationUrl}}"></div>
							<rating class="searching_result_rating" ng-model="hotel.overallRating" max="5" readonly="true"></rating>
						</div>
					</div>
				</div>
				<!-- <a ng-href="#" ng-show="currentPage<pageCount" class="searching_result_loadmore" ng-click="searchByKeywordAndPage(currentPage+1)">Load more</a> -->
			</div>
    </div>
</pageslide>