.main_container {
	padding-left: 20px;
}
.search_bar {
	height: 700px;
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
	padding-top: 15px;
	padding-bottom: 15px;
}
.txb_addr_search {
	margin-left: 15px;
	margin-right: 10px;
}
.margin_button {
	margin: 2px;
	margin-left: 10px;
}
.angular-google-map-container {
	height: 700px;
}